@charset "utf-8";
.mian .matter { width:1000px; margin:auto;  margin-top:6px; zoom:1; overflow:hidden;}
.matter .left{ float:left; width:250px;}
.matter .right{ width:740px; float:left;}
.a03{ width:250px; background:#ececec; margin-bottom:10px;}
.a03 .info{ color:#000000;font:18px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif; border-bottom:1px dashed #cccccc; width:240px; margin:auto; height:30px; line-height:30px; padding-left:10px;}
.a03 .content{ width:150px; margin:auto; padding:5px 0px 15px 0px;}
.a03 li{ background:url(../images/img_24.jpg) repeat-x; width:150px; height:30px; line-height:30px; }
.a03 li a{ color:#505050; display:block; text-align:center;}
.a03 li a:hover{ width:150px; color:#ff6600; }
.b01{ width:248px; border:1px solid #d4d4d4; margin-bottom:8px;}
.b01 .info{ color:#000000;font:18px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif; border-bottom:1px dashed #cccccc; width:240px; margin:auto; height:30px; line-height:30px; padding-left:10px;}
.b01 .content{ text-align:center; padding:6px 0px;}
.b01 .content1{ padding:10px; color:#333333; line-height:24px;}
.red{ color:#F00;}
.new{ width:740px;}
.new .info{ background:url(../images/img_6.jpg) repeat-x; width:100%; height:57px;}
.new .info2{ background:url(../images/img_6.jpg) repeat-x; width:500px; height:57px;}
.new .title{background:url(../images/img_25.jpg) no-repeat; width:267px; height:57px;}
.one{background-repeat: no-repeat;background-position: left;width:740px; height:200px; border-bottom:1px solid #dbdbdb;padding-right:10px;}
.one h2{font:18px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif; font-weight:bold; padding:3px 0px 2px 330px; margin:0px; height:30px; line-height:30px; overflow:hidden; }
.chat{font:18px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif; font-weight:bold; padding:3px 0px 2px 140px; margin:0px; height:30px; line-height:30px; overflow:hidden;  }
.chat1{font:18px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif; font-weight:bold; padding:3px 0px 2px 140px; margin:0px; height:30px; line-height:30px; overflow:hidden; float: left;}
.one h2 a{ color:#333;}
.one p{ line-height:18px; padding-left:100px; color:#a6a6a6; height:36px; overflow:hidden;}
.new .content2{padding:20px;text-indent:2em;line-height:25px;color:#505050; float: left;}
.new .content2 h2{ text-align:center;}
.new .content2 .biaot{ text-align:center; width:710px; height:25px; border:1px solid #e8e8e8; background:#f7f7f7; color:#505050; margin:auto;}
.new .content2 .neirong{ width:710px; margin:auto; padding:15px 0px;}
.slider0001{margin:5px auto;width:1000px;height:150px;border:1px solid #ccc;position:relative;overflow:hidden;}

.p_search{ width:740px; border-bottom:0px;}
.p_search th,.p_search td{ font-size:14px; color:#000; text-align:left; padding:10px 0; line-height:170%; border-bottom:1px solid #aaa;}
.p_search th{ width:115px; text-align:center; background:#DEDEDE;}
.p_search td{ padding:10px 30px;}
.p_search .fw{ padding-left:0px;}
.p_search .all,.p_search .all a{ white-space:nowrap;}
.p_search td a{ display:inline-block; *display:inline-block; zoom:1; font-size:14px; color:#000; margin-right:30px;}
.p_search .all a{ margin-right:0px;}
.p_search td .now,.p_search td a:hover{ color:#0000ff;}
.one001{
	width:740px;border-bottom:1px solid #dbdbdb;
}
.one002{
	padding-top: 35px;padding-left: 35px;color: #0000ff;
}
.content001{
	margin-top: 5px;
}
.paiming{width:740px; height:116px; border-bottom:1px solid #dbdbdb;padding-right:10px;margin-top: 5px;}

.paiming_left{width:100px;height:100px;float: left;margin-top: 5px;}
.paiming_right{width:500px;height:116px;float: left;margin-top: 5px;margin-left: 10px}
.club-side{float:left;display:inline;background-position:0 -352px;width:100px;height:100px;margin-top:9px;}
.u-live{text-align:center;color:#777;position:relative;padding-top:16px;line-height:20px;}
.u-live strong{font-weight:bold;color:#f90;display:block;}
